# common ignore file
*.apk
*.bak
*.log
*.temp
*.*~
~*.*
*.swp

# ctags tool
tags

# custom file about this project
cfg.inc
access.inc
*/upload
upload/*

# test file
t
t.php
t.inc
t.tpl
tt
tt.php
tt.inc
tt.tpl


